@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1750px)
  .container
    padding: 0 10px



@media only screen and (max-width : 1400px)
  h1
    font-size: 30px

  .best-work__content
    max-width: 550px

  label
    width: 24%

  .contacts-wrapper
    padding: 0



@media only screen and (max-width : 1300px)
  .main-content
    max-width: 40%

@media only screen and (max-width : 1280px)
  .menu li
    margin: 0 20px 0 0

  .logo
    width: 150px

  .bottom-line p
    font-size: 16px

  .best-work__title
    font-size: 30px
    line-height: normal

  .best-work .list-social li a
    width: 40px
    height: 40px
    padding: 10px
    svg
      width: 18px
      height: 18px

  .best-work__content .text
    font-size: 18px

  .tabs__caption li
    margin: 0 0 15px

  .tabs__caption li
    max-width: 510px

  .best-work__content
    max-width: 510px

  .project-slider__photo
    max-width: 680px
    padding: 0 70px

  .project-slider__content
    width: calc(100% - 680px)
    padding: 0 0 0 40px





@media only screen and (max-width : 1200px)
  header, footer
    .menu
      li
        a
          font-size: 14px
    .list-social
      margin: 0 20px



  .tabs
    margin: 40px 0 0

  .best-work__content
    max-width: none
    .d-mobile
      display: block
      margin: 0 auto 20px

  .tabs__content
    flex-direction: column
    align-items: center
    .list-social
      margin: 26px auto 50px
      li
        margin: 0 20px 0 0
    .bottom-line
      justify-content: center

  .tabs__caption
    margin: 0 0 40px

  .main-slider__wrap
    display: none

  .best-work__content .text
    max-width: none
    text-align: center

  .best-work .list-social
    justify-content: center


  .best-work__title, .price-wrapper
    text-align: center

  .form
    padding: 30px 20px 23px
    button
      margin: 0 0 20px
      max-width: 49%

  label
    width: 49%
    max-width: none
    margin: 0 0 20px

  .callback-img
    display: none

  .stages-work__box
    font-size: 16px
    max-width: 200px

  .stages-work__wrapper
    padding: 0
    &:before
      left: 20px
      width: calc(100% - 200px)

  .maps
    max-width: 515px

/* Medium Devices, Desktops */
@media only screen and (max-width : 1120px)
  .main-content
    width: 100%
    order: 1
    max-width: none
    h1
      display: none

  .title-mobile
    display: block
    width: 100%
    text-align: center

  main
    .text
      text-align: center
      margin: 10px auto 24px
      max-width: none

  .bottom-line
    justify-content: center

  .main-slider__wrap
    margin: 0 auto

  .project-slider__photo
    max-width: 580px
    padding: 0 60px

  .project-slider__content
    width: calc(100% - 580px)
    padding: 0 0 0 40px

  .project-slider__photo-box
    width: 100%

@media only screen and (max-width : 1040px)
  header, footer
    .menu
      display: none

  .btn-burger
    display: block

@media only screen and (max-width : 992px)
  .advantages
    padding: 35px 0 0
    .w-50
      width: 100%
    .container
      flex-direction: column
      align-items: center

  .advantages-image
    order: -1

  .logo-company
    margin: 0 auto
    padding: 39px 0 36px
    position: relative
    max-width: none
    img
      position: relative
      z-index: 1
      width: 267px
      margin: 0 auto
    &:before
      content: ''
      position: absolute
      left: 50%
      background: #F5F7F8
      transform: translate(-50%,0)
      top: 0
      width: calc(100% + 30px)
      height: 100%

  .advantages-slider
    position: relative
    padding: 0 50px 40px
    &:before
      content: ''
      position: absolute
      left: 50%
      background: #F5F7F8
      transform: translate(-50%,0)
      top: 0
      width: calc(100% + 30px)
      height: 100%

  .project-wrapper
    flex-direction: column
    align-items: center

  .project-slider__content
    width: 100%
    padding: 0
    margin: 32px 0 0

  .maps
    max-width: 335px

/* Small Devices, Tablets */
@media only screen and (max-width : 830px)
  .stages-work__box
    max-width: none
    width: 100%
    margin: 0 0 30px
    flex-direction: row
    align-items: center
    &:last-child
      margin: 0
    .number
      margin: 0 10px
    .text
      br
        display: none

  .stages-work__wrapper
    &:before
      display: none

@media only screen and (max-width : 768px)
  header
    padding: 5px 0

  footer
    padding: 13px 0

  .logo
    width: 110px

  .about-image
    max-width: 335px

  .about
    .container
      align-items: center

  .about-content
    width: calc(100% - 335px)
    .text
      font-size: 16px
      line-height: normal

  .contacts-wrapper
    flex-direction: column
    align-items: center

  .maps
    order: -1
    max-width: none

  .contacts-info
    width: 100%
    margin: 22px 0 0
    max-width: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px)
  header, footer
    .btn, .list-social
      display: none

  main
    padding: 53px 0 40px
    .text
      font-size: 16px

  .bottom-line
    p
      display: none
    .btn
      margin: 0
      height: 40px
      font-size: 15px

  h1
    font-size: 20px
    margin: 0 auto 45px

  h2
    font-size: 20px
    text-align: center
    &:before
      display: none

  .main-slider__wrap
    max-width: 355px
    padding: 0 60px

  .main-slider
    width: 247px

  .main-slider__box
    height: 352px
    padding: 9px 12px 10px

  .main-slider__box-photo
    height: 222px
    margin: 7px auto 9px

  .main-slider__box .top-line .name
    font-size: 11px

  .main-slider__box .icon-logo
    width: 27px
    height: 27px
    margin: 0 8px 0 0

  .icon-heart1
    width: 78px
    bottom: 42px

  .icon-heart2
    bottom: 178px
    width: 34px
    left: 15px

  .icon-heart3
    width: 43px
    left: 38px
    top: -22px

  .icon-heart4
    width: 22px
    right: 92px
    top: -25px

  .icon-heart5
    width: 43px
    right: 4px
    top: 54px

  .icon-heart6
    width: 22px
    right: 25px
    bottom: 140px

  .icon-heart7
    width: 43px
    bottom: 38px
    right: 30px

  .tag
    margin: 6px 0
    font-size: 8px
    padding: 0 10px

  .btn-order
    height: 23px
    font-size: 8px
    padding: 0 11px

  .line-share
    padding: 0 10px

  .share-links
    width: 13px
    height: 13px
    margin: 0 11px 0 0

  .advantages
    h2
      margin: 0 auto 10px

  .advantages-image
    max-width: 321px
    margin: 0 auto 20px

  .advantages-box
    width: 100%
    align-items: center
    text-align: center
    font-size: 15px
    margin: 0 0 16px
    h3
      font-size: 16px
      margin: 0 auto 15px

  .advantages-box__icon
    width: 76px
    height: 64px
    margin: 0 auto 18px
    img
      width: 30px

  .advantages-wrapper
    margin: 0

  .advantages-slider
    .slick-arrow
      top: 38%

  .slick-arrow
    width: 30px
    height: 30px
    &:before
      width: 15px
      height: 12px

  .advantages-slide__box h4
    font-size: 16px
    margin: 0 0 10px

  .advantages-slide__box .text
    font-size: 14px
    padding: 7px 16px
    font-weight: 300

  .advantages-slide__box .text:before
    width: 2px

  .slick-dots
    margin: 17px 0 0
    li
      width: 12px
      height: 12px
      margin: 0 17px 0 0

  .best-work
    padding: 34px 0 40px

  .tabs
    margin: 24px 0 0

  .tabs__caption
    margin: 0 0 9px
    li
      font-size: 12px
      background: #223989
      text-align: center
      width: 170px
      height: 40px
    .active
      background: linear-gradient(83.27deg, #FF0537 0%, #223989 100%)

  .best-work__title
    font-size: 18px

    .decor
      &:before
        display: none

  .best-work__content .text
    font-size: 14px

  .price-wrapper
    margin: 10px auto 13px
    font-size: 15px
    .decor
      &:before
        display: none

  .project
    padding: 32px 0 40px
    .description
      margin: 28px auto 55px
      font-size: 15px

  .project-slider__photo-box
    height: 266px
    padding: 0 74px

  .project-slider__photo, .project-wrapper
    padding: 0

  .links-project
    font-size: 18px
    margin: 0 0 13px

  .name-project
    margin: 0 0 19px
    font-size: 16px

  .project-slider__content-box .box-text
    font-size: 15px
    margin: 0 0 18px

  .project-slider__content-box .btn
    margin: 32px auto 0
    height: 40px
    font-size: 15px

  .project-slider__content h6
    font-size: 16px


  .callback
    background: #F5F7F8
    padding: 31px 0 40px

  .form
    margin: 39px 0 0
    button
      max-width: none
      width: 100%
      margin: 25px auto 0
      font-size: 15px
      height: 40px

  label
    max-width: none
    width: 100%

  .percent
    font-size: 13px

  input
    font-size: 16px
    line-height: 20px
    padding: 0 5px 8px

  .btn
    font-size: 15px

  .about
    padding: 30px 0 40px
    .container
      flex-direction: column
      align-items: center
    .d-mobile
      display: flex
      margin: 26px auto

  .about-content
    width: 100%
    .text
      font-size: 14px
      margin: 0
      p
        margin: 0 0 20px
        &:last-child
          margin: 0

  .about-image
    display: none

  .stages-work__box
    .number
      margin: 0 23px 0 0
      min-width: 30px


  .stages-work__icon
    display: none

  .stages-work
    padding: 29px 0 40px
    .btn
      height: 40px
      font-size: 15px

  .stages-work__wrapper
    margin: 44px 0

  .contacts
    padding: 29px 0 40px

  .contacts-wrapper
    margin: 31px 0 0

  .maps
    height: 173px

  .address
    text-align: center
    margin: 0 0 30px
    font-size: 14px
    strong
      font-size: 18px

  .phone, .mail
    text-align: center
    font-size: 14px
    justify-content: center
    .icon
      margin: 0 13px 0 0
      width: 15px

  .list-social
    justify-content: center
    margin: 40px 0 0
    li
      margin: 0 28px 0 0
      &:last-child
        margin: 0

  .modal__div .modal__wrapper
    padding: 30px
    h2
      font-size: 20px
      margin: 0 auto 30px

  .modal-form label
    margin: 0 0 20px
    input
      height: 50px
      font-size: 14px

  .modal-form button
    height: 50px

@media only screen and (max-width : 480px)
  header, footer
    .phone
      display: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

